/* ============= Tiptap WYSIWYG ============= */
:root {
  --title-color-light: #27272a;
  --title-color-dark: rgb(216, 216, 216);
  --text-color-light: #45454c;
  --text-color-dark: rgb(161, 161, 170);
}

.tiptap > * + * {
  /* margin-top: 0.75em; */
}

.tiptap {
  width: 100%;
  min-height: 200px;
}

.tiptap img {
  height: auto !important;
  border-radius: 0.75rem;
  object-fit: contain;
  margin: 20px auto;
}

.tiptap h1 {
  font-size: 2rem;
  line-height: 1.5;
  color: var(--title-color-light);
  margin: 2.5rem 0 1.25rem;
}

.tiptap h2 {
  font-size: 1.5rem;
  line-height: 1.5;
  color: var(--title-color-light);
  margin: 2.5rem 0 1.25rem;
}

.tiptap h3 {
  font-size: 1.25rem;
  line-height: 1.5;
  color: var(--title-color-light);
  margin: 2.5rem 0 1.25rem;
}

.tiptap h4 {
  font-size: 1rem;
  line-height: 1.5;
  color: var(--title-color-light);
  margin: 1.5rem 0 1rem;
}

.tiptap h5 {
  font-size: 0.75rem;
  line-height: 1.5;
  color: var(--title-color-light);
  margin: 1rem 0 0.75rem;
}

.tiptap p {
  font-size: 1rem;
  line-height: 1.65;
  color: var(--text-color-light);
}

.tiptap p strong {
  color: var(--title-color-light);
}

.tiptap a {
  color: #14b8a6;
}

.tiptap p a {
  word-break: break-word;
}

.tiptap ol,
.tiptap ul,
.tiptap menu {
  margin: 0.625rem 0;
  padding: 0 0 0 1.75rem;
  color: var(--text-color-light);
}

.tiptap ol {
  list-style: auto;
  margin: 0;
}

.tiptap ul {
  list-style: disc;
  margin: 0;
}

.tiptap li {
  margin: 0.45rem 0;
  color: var(--text-color-light) !important;
}

.tiptap p code {
  font-size: 0.85rem;
  line-height: 1.65;
  background: #f0f0f0;
  border-radius: 0.25rem;
  padding: 0.25rem 0.4rem;
}

.tiptap blockquote {
  width: fit-content;
  position: relative;
  border-radius: 0.75rem;
  background-color: #f0f0f0;
  padding: 1.2rem 2rem 1.2rem 2.5rem;
  margin: 0.75rem 1.25rem;
}

.tiptap blockquote:before {
  display: block;
  font-family: Georgia, serif;
  content: '\201C';
  font-size: 60px;
  position: absolute;
  left: 0.5rem;
  top: -0.5rem;
  color: #bebebe;
}

.tiptap blockquote cite {
  color: #999999;
  font-size: 14px;
  display: block;
  margin-top: 5px;
}

.tiptap blockquote cite:before {
  content: '\2014 \2009';
}

.tiptap .iframe-wrapper {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.tiptap iframe {
  width: 100%;
  max-width: 800px;
  height: 400px;
  border-radius: 0.75rem;
}

.tiptap pre {
  overflow-x: auto;
  font-size: large;
  background-color: #23241f;
  counter-reset: linecounter;
  border-radius: 0.75rem;
  color: #fff;
  font-family: 'JetBrainsMono', monospace;
  padding: 1.5rem;
  margin: 1rem auto;
}

.tiptap pre .line-num {
  min-width: 3.5ch;
  display: inline-block;
}

.tiptap pre .line-num::before {
  color: #515151;
  counter-increment: linecounter;
  content: counter(linecounter);
}

.tiptap pre code {
  background: none;
  color: inherit;
  font-size: 0.85rem;
  line-height: 1.65;
  padding: 0;
}

.tiptap ::-webkit-scrollbar {
  height: 1.125rem;
  width: 0.5rem;
}

.tiptap ::-webkit-scrollbar:horizontal {
  height: 0.65rem;
  width: 1rem;
}

.tiptap ::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 9999px;
}

.tiptap ::-webkit-scrollbar-thumb {
  background-color: hsla(0, 0%, 41%, 0.35);
  border-color: rgba(255, 255, 255, 0.5);
  border-radius: 9999px;
  border-width: 1px;
  transition: all;
  transition-duration: 0.3s;
}

.tiptap ::-webkit-scrollbar-thumb:hover {
  background-color: hsla(0, 0%, 41%, 0.6);
}

.dark .tiptap h1 {
  color: var(--title-color-dark);
}

.dark .tiptap h2 {
  color: var(--title-color-dark);
}

.dark .tiptap h3 {
  color: var(--title-color-dark);
}

.dark .tiptap h4 {
  color: var(--title-color-dark);
}

.dark .tiptap h5 {
  color: var(--title-color-dark);
}

.dark .tiptap p {
  color: var(--text-color-dark);
}

.dark .tiptap p strong {
  color: var(--title-color-dark);
}

.dark .tiptap ol,
.dark .tiptap ul,
.dark .tiptap menu {
  color: var(--text-color-dark);
}

.dark .tiptap li {
  margin: 0.45rem 0;
  color: var(--text-color-dark) !important;
}

.dark .tiptap pre {
  background-color: hsla(240, 6%, 16%, 1);
}

.dark .tiptap p code {
  background-color: #353535;
}

.dark .tiptap blockquote {
  background-color: #353535;
}

.dark .tiptap blockquote:before {
  color: #bebebe;
}

.dark .tiptap blockquote cite {
  color: #646464;
}

.dark .tiptap ::-webkit-scrollbar-thumb {
  background-color: hsla(0, 0%, 100%, 0.1);
}

.dark .tiptap ::-webkit-scrollbar-thumb:hover {
  background-color: hsla(0, 0%, 100%, 0.3);
}

@media (min-width: 768px) {
  .scrollbar-trigger ::-webkit-scrollbar-thumb {
    visibility: hidden;
  }

  .scrollbar-trigger:hover ::-webkit-scrollbar-thumb {
    visibility: visible;
  }
}

@media (max-width: 400px) {
  .tiptap h1 {
    font-size: 1.65rem;
    line-height: 1.5;
  }

  .tiptap h2 {
    font-size: 1.35rem;
    line-height: 1.5;
  }

  .tiptap h3 {
    font-size: 1.125rem;
    line-height: 1.5;
  }

  .tiptap h4 {
    font-size: 1rem;
    line-height: 1.5;
    margin: 1.5rem 0 0.25rem
  }

  .tiptap h5 {
    font-size: 0.8rem;
    line-height: 1.5;
  }

  .tiptap p {
    font-size: 1rem;
    line-height: 1.6;
  }

  .tiptap ol,
  .tiptap ul,
  .tiptap menu {
    margin: 0.5rem 0;
    padding: 0 0 0 1.5rem;
  }

  .tiptap li {
    margin: 0.3rem 0;
  }

  .tiptap p code {
    font-size: 0.85rem;
    line-height: 1.65;
    padding: 0.18rem 0.35rem;
  }

  .tiptap blockquote {
    padding: 1rem 1.25rem 1rem 2.5rem;
    margin: 1.5rem 1rem;
  }

  .tiptap pre {
    padding: 1rem;
  }

  .tiptap pre code {
    font-size: 0.8rem;
    line-height: 1.6;
    padding: 0;
  }
}

pre code.hljs {
  display: block;
  overflow-x: auto;
  /* padding: 1em; */
}

code.hljs {
  padding: 3px 5px;
}

/*
   * Visual Studio 2015 dark style
   * Author: Nicolas LLOBERA <nllobera@gmail.com>
   */

.hljs {
  background: #313131;
  color: #dcdcdc;
}

.hljs-keyword,
.hljs-literal,
.hljs-symbol,
.hljs-name {
  color: #569cd6;
}
.hljs-link {
  color: #569cd6;
  text-decoration: underline;
}

.hljs-built_in,
.hljs-type {
  color: #4ec9b0;
}

.hljs-number,
.hljs-class {
  color: #b8d7a3;
}

.hljs-string,
.hljs-meta .hljs-string {
  color: #d69d85;
}

.hljs-regexp,
.hljs-template-tag {
  color: #9a5334;
}

.hljs-subst,
.hljs-function,
.hljs-title,
.hljs-params,
.hljs-formula {
  /* color: #DCDCDC; */
}

.hljs-comment,
.hljs-quote {
  color: #57a64a;
  font-style: italic;
}

.hljs-doctag {
  color: #608b4e;
}

.hljs-meta,
.hljs-meta .hljs-keyword,
.hljs-tag {
  color: #9cdcfe;
}

.hljs-variable,
.hljs-template-variable {
  color: #bd63c5;
}

.hljs-attr,
.hljs-attribute {
  color: #9cdcfe;
}

.hljs-section {
  color: gold;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}

/*.hljs-code {
      font-family:'Monospace';
    }*/

.hljs-bullet,
.hljs-selector-tag,
.hljs-selector-id,
.hljs-selector-class,
.hljs-selector-attr,
.hljs-selector-pseudo {
  color: #d7ba7d;
}

.hljs-addition {
  background-color: #144212;
  display: inline-block;
  width: 100%;
}

.hljs-deletion {
  background-color: #600;
  display: inline-block;
  width: 100%;
}

.hljs-title.function_ {
  color: #f6e0b1;
}

.hljs-property {
  color: #9cdcfe;
}
